html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}
#conversational-form > div > cf-input > cf-input-control-elements > cf-list {
    max-width: 100%;
}
#conversational-form > div > cf-chat > scrollable > div > cf-chat-response.user.can-edit.peak-thumb.show {
    color: #000;
}